img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.button {
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button-primary {
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  min-width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  fill: white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
}

.web-logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.studio-logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.nav-main {
  display: none;
}

.contacts-nav {
  display: none;
}

.burger-menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.burger-menu-icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
  .studio-logo {
    margin-right: 88px;
  }
  .burger-menu-btn {
    display: none;
  }
  .nav-main {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .navigation-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contacts-nav {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin-left: auto;
  }
  .current-link {
    position: relative;
    display: block;
    color: #2196f3;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  .current-link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
  .navigation-link :not(:last-child) {
    margin-right: 50px;
  }
  .nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link .nav-link:hover,
  .nav-link .nav-link:focus {
    color: #2196f3;
  }
  .contact-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover, .contact-link:focus {
    color: #2196f3;
  }
  .contact-link:first-child {
    margin-bottom: 10px;
  }
  .contact-icon {
    margin-right: 10px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    fill: currentColor;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item {
    margin-bottom: 0;
  }
  .contacts-nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .contakt-item {
    display: flex;
    align-items: center;
  }
  .contakt-item:last-child {
    margin-left: 50px;
  }
}

.current-link {
  position: relative;
  display: block;
  color: #2196f3;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.current-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}

.section-hero {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 480px;
  max-height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/mobile/Header-mobile@1x.jpg);
  background-size: cover;
  background-position: center;
}

.section-hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero-container {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/mobile/Header-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 768px;
    max-height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/tablet/Header-tablet@1x.jpg);
    background-size: cover;
    background-position: center;
  }
  .section-hero .container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/tablet/Header-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    margin-top: 0;
    width: 100%;
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../../../images/desktop/header-desktop@1x.jpg);
    background-position: center;
    background-size: cover;
  }
  .section-hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-container {
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../../images/desktop/header-desktop@2x.jpg);
  }
}

.hero-tittle {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-tittle {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1, 615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
}

.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 1px solid transparent;
  color: #212121;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-features {
  padding-top: 60px;
}

.features-list {
  flex-wrap: wrap;
  justify-content: center;
  outline: 1px red;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
  }
}

.feauture-item {
  width: 100%;
  max-width: 480px;
  margin-bottom: 30px;
}

.feauture-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px, 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.antenna::before {
  background-image: url("../images/antenna.svg");
}

.clock::before {
  background-image: url("../images/clock.svg");
}

.diagram::before {
  background-image: url("../images/diagram.svg");
}

.astronaut::before {
  background-image: url("../images/astronaut.svg");
}

.features-tittle {
  max-width: 480px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .feauture-item {
    max-width: 354px;
  }
  .feauture-item:nth-last-child(2n) {
    margin-right: 30px;
  }
  .features-tittle {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-tittle {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .feauture-item {
    width: calc((100% - 3 * 30px) / 4);
  }
  .feauture-item:not(:last-child) {
    margin-right: 30px;
  }
  .feauture-item::before {
    max-width: 480px;
    margin-bottom: 30px;
    display: block;
    content: "";
    height: 120px;
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  .antenna::before {
    background-image: url("../images/antenna.svg");
  }
  .clock::before {
    background-image: url("../images/clock.svg");
  }
  .diagram::before {
    background-image: url("../images/diagram.svg");
  }
  .astronaut::before {
    background-image: url("../images/astronaut.svg");
  }
}

@media screen and (max-width: 1200px) {
  .business-section {
    display: none;
  }
}

.business-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.tittles {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.business-list {
  display: flex;
  flex-wrap: wrap;
}

.b-item {
  position: relative;
}

.b-item:not(:last-child) {
  margin-right: 30px;
  display: list-item;
}

.business-tittle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  /* outline: 2px solid red; */
}

.business-text {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  background-color: #f5f4fa;
}

.team-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-tittles {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team-tittles {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.text-team {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-list {
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .team-item {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-item:nth-last-child(2n) {
    margin-right: 30px;
  }
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-item:not(:last-child) {
    margin-right: 30px;
    padding-bottom: 0;
  }
}

.team-names {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  background-color: #ffffff;
}

.names-tittle {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-social {
  margin-top: 16px;
  display: flex;
  align-items: center;
  padding: 0;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  line-height: 0px;
  border-radius: 50%;
  fill: var(--social-icon-link);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover, .icon-link:focus {
  background-color: #2196f3;
  fill: white;
}

.team-links {
  height: 44px;
  width: 44px;
  line-height: 0px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */