.section-hero {
  display: flex;
  align-items: center;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  padding: 118px 0px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/Header-mobile@1x.jpg);
  background-size: cover;
  background-position: center;

  .container-hero {
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 360px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/Header-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
    padding: 118px 0px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/Header-tablet@1x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/Header-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/header-desktop@1x.jpg);

    .container-hero {
      width: 696px;
      height: 200px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/header-desktop@2x.jpg);
    }
  }
}
