.section-hero {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 480px;
  max-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/Header-mobile@1x.jpg);
  background-size: cover;
  background-position: center;

  & .container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-container {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/Header-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 768px;
    max-height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/Header-tablet@1x.jpg);
    background-size: cover;
    background-position: center;

    & .container {
      padding-top: 118px;
      padding-bottom: 118px;
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/Header-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    margin-top: 0;
    width: 100%;
    max-width: 1600px;
    max-height: 600px;
    // margin-right: auto;
    // margin-left: auto;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/desktop/header-desktop@1x.jpg);
    background-position: center;
    background-size: cover;

    & .container {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  .hero-container {
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/header-desktop@2x.jpg);
  }
}
