.section-features {
  padding-top: 60px;
}

.features-list {
  flex-wrap: wrap;
  justify-content: center;
  outline: 1px red;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.feauture-item {
  width: 100%;
  max-width: 480px;
  margin-bottom: 30px;

  &::before {
    display: block;
    content: "";
    height: 120px;
    background-size: 70px, 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $backgr-color-botton;
    border-radius: 4px;
  }
}
// не отображаются свг
@each $features in antenna, clock, diagram, astronaut {
  .#{$features}::before {
    background-image: url("../images/#{$features}.svg");
  }
}

.features-tittle {
  max-width: 480px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $tittle-text-color;
}
.text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $primery-text-color;
}

@media screen and (min-width: 768px) {
  .feauture-item {
    max-width: 354px;

    &:nth-last-child(2n) {
      margin-right: 30px;
    }
  }

  .features-tittle {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features-tittle {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $tittle-text-color;
  }

  .feauture-item {
    width: calc((100% - 3 * 30px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }

    &::before {
      max-width: 480px;
      margin-bottom: 30px;

      display: block;
      content: "";
      height: 120px;
      background-size: 70px, 70px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $backgr-color-botton;
      border-radius: 4px;
    }
  }
  // не отображаются свг
  @each $features in antenna, clock, diagram, astronaut {
    .#{$features}::before {
      background-image: url("../images/#{$features}.svg");
    }
  }
}
