.footer-tittle {
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $accent-white-color;
}

.foot-links {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-list {
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  line-height: 0px;
  border-radius: 50%;
  fill: $accent-white-color;
  background-color: #ffffff1a;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-button-color;
    fill: $accent-white-color;
  }
}

.footer-icon {
  height: 20px;
  width: 20px;
}
