.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: $accent-white-color;
}

.web-logo {
  color: $accent-button-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.studio-logo {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
}

.nav-main {
  display: none;
}

.contacts-nav {
  display: none;
}

.burger-menu-btn,
.mobile-close-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.burger-menu-icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }

  .studio-logo {
    margin-right: 88px;
  }

  .burger-menu-btn {
    display: none;
  }

  .nav-main {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .navigation-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contacts-nav {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    margin-left: auto;
  }

  .current-link {
    position: relative;
    display: block;
    color: $accent-button-color;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-button-color;
    }
  }

  .navigation-link {
    & :not(:last-child) {
      margin-right: 50px;
    }
  }
  .nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $tittle-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .nav-link:hover,
    .nav-link:focus {
      color: $accent-button-color;
    }
  }

  .contact-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $primery-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-button-color;
    }

    &:first-child {
      margin-bottom: 10px;
    }
  }

  .contact-icon {
    margin-right: 10px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    fill: currentColor;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item {
    margin-bottom: 0;
  }

  .contacts-nav {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .contakt-item {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: 50px;
    }
  }
}

.current-link {
  position: relative;
  display: block;
  color: $accent-button-color;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-button-color;
  }
}
.contact-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $primery-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-button-color;
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-101%);
  z-index: 2;

  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background-color: $accent-white-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  &.is-open {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
  }
}

@media screen and (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.burger-list {
  flex-grow: 1;
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.burger-link:not(:last-child) {
  padding-bottom: 32px;
}

.burger-link-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $tittle-text-color;
}

.current-burger {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $accent-button-color;
}

.close-icon {
  width: 18px;
  height: 18px;
}

.mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger-contacts {
  flex-direction: column;
  margin-bottom: 64px;
}

.burger-contact-list:not(:last-child) {
  padding-bottom: 32px;
}

.burger-contact-phone {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $accent-button-color;
}

.burger-contact-mail {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $primery-text-color;
}

.burger-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 0;
}

.mobile-social {
  color: $accent-button-color;

  &::after {
    content: "";
    display: inline-block;

    margin-left: 10px;
  }
}

.burger-social-link:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
